/Downloads/Judgement
/Downloads/Judgement.csv
/Downloads/lien.csv
/Parsed/LIEN-Dec242022-Feb242023.csv
/Parsed/LIEN-Sep202022-Feb242023.csv
/Downloads/lis pendens.csv
/Parsed/LIS PENDENS-Dec242022-Feb242023.csv
/Parsed/LIS PENDENS-Sep202022-Feb242023.csv
/ParsedTax DeedJan132021-Jan132021.csv
/Downloads/probate.csv
/Parsed/PROBATE-Dec242022-Feb242023Estate.csv
/Parsed/PROBATE-Sep202022-Feb242023Estate.csv
/Downloads/tax deed.csv
/Parsed/Tax Deed-Aug012022-Feb242023.csv
